[Desktop Entry]
Encoding=UTF-8
Name=Brazukcoin
GenericName=Brazukcoin wallet
Name[uk]=Brazukcoin
Name[ru]=Brazukcoin
Name[pl]=Brazukcoin
Name[be]=Brazukcoin
Name[de]=Brazukcoin
Name[es]=Brazukcoin
Comment=Brazukcoin wallet
Comment[uk]=Brazukcoin wallet
Comment[ru]=Brazukcoin wallet
Comment[pl]=Brazukcoin wallet
Comment[be]=Brazukcoin wallet
Comment[de]=Brazukcoin wallet
Comment[es]=Brazukcoin wallet
Exec=brazukcoin %U
Terminal=false
Type=Application
Icon=brazukcoin
MimeType=x-scheme-handler/brazukcoin;
Categories=Office;Finance;
Version=1.0.0
